<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="background">
                <img src="background.jpg" alt="background image">
            </div>
            <div class="clickable_character">
                <img src="Clickable_character.png" alt="character">
            </div>
            <div class="clickable_item">
                <img src="Clickable_item.png" alt="item">
            </div>
    
            <div class="dialog">
                <img src="dialog_box.png" alt="dialog">
            </div>
            <div class="item_slot">
                <img src="item_slot.png" alt="item_slot">
            </div>
            <div class="item_slot_button">
                <img  src="item_slot_close.png" alt="closing button">
            </div>
        </div>
    </div>
    
</body>
</html>