@font-face{
    font-family: customFont;
    src:url(Pangolin/Pangolin-Regular.ttf);
}

body{
    display: block;
    background-color: black;
}

.container{
    position:relative;
    width:80em;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}
.c_character{
    position:absolute;
    right: 12em;
    top:13.5em;
    width:16em;
}
.c_character:hover{
    transition-duration: 1s;
    transform:scale(1.1);
}
.c_item{
    position:absolute;
    top:18em;
    right:32em;
    width:13em;
}
.c_item:hover{
    transition-duration: 1s;
    transform:scale(1.2);
}
.dialog{
    position:absolute;
    bottom:0em;
}
.dialog_script{
    font-family:customFont;
    font-size:2em;
    position:absolute;
    bottom:1em;
    left:3em;
    color:dimgray;
}
.c_popup{
    position:absolute;
    top:0em;
    visibility:hidden;
}
.c_popup img{
    width:100%;
}
.c_popup_content{
    position:absolute;
    left:14em;
    top:-0.3em;
    font-family:customFont;
    font-size: 20px;
    width:700px;
    visibility:hidden;
}
.c_popup_img{
    position:absolute;
    width:20em;
    top:9em;
    left:-3em;
}
.c_popup_content img{
    width:100%;
}
.c_popup_content p{
    position:absolute;
    width:400px;
    top:10em;
    left:15em;
}

.i_popup{
    position:absolute;
    top:0em;
    visibility:hidden;
}
.i_popup img{
    width:100%;
}
.i_popup_content{
    position:absolute;
    left:14em;
    top:-0.5em;
    font-family:customFont;
    font-size: 20px;
    width:700px;
    visibility:hidden;
}
.i_popup_img{
    position:absolute;
    width:16em;
    top:13em;
    left:-1em;
}
.i_popup_content img{
    width:100%;
}
.i_popup_content p{
    position:absolute;
    width:400px;
    top:10em;
    left:15em;
}

.warning{
    position:absolute;
    top:0em;
    z-index:1;
    visibility:hidden;
}
.warning img{
    width:100%;
}
.warning_content {
    z-index:1;
    position:absolute;
    left:14em;
    top:-0.5em;
    font-family:customFont;
    font-size:20px;
    width:1000px;
    visibility:hidden;
}
.warning_content p{
    z-index:1;
    width:700px;
    position:absolute;
    font-size: 38px;
    top:8em;
    left:0.5em;
    text-align:center;
}

.item_remove{
    position:absolute;
    top:0em;
    z-index:1;
    visibility:hidden;
}
.item_remove img{
    width:100%;
}
.item_option_content {
    z-index:1;
    position:absolute;
    left:15em;
    top:-0.5em;
    font-family:customFont;
    font-size:20px;
    width:1000px;
    visibility:hidden;
}
.item_option_content p{
    z-index:1;
    width:700px;
    position:absolute;
    font-size: 38px;
    top:6em;
    left:0em;
    text-align:center;
}
#dash{
    font-size: 50px;
    color:crimson;
}



.dialog_option {
    position:absolute;
    margin:30px;
    width:400px;
    top:18em;
    left:15em;
}
.calm_option{
    display:none;
}
.funny_option{
    display:none;
}
.end_dialog{
    display:none;
}
.change_dialog{
    display:none;
}
.i_dialog_option{
    position:absolute;
    margin:30px;
    width:400px;
    top:20em;
    left:13.5em;
}
.ir_dialog_option{
    position:absolute;
    margin:30px;
    width:400px;
    top:18em;
    left:9em;
}
.ir_dialog_option button{
    font-family:customFont;
    padding:10px;
    font-size:50px;
    color:crimson;
    border:none;
    background-color:rgba(0,0,0,0);
}
.ir_dialog_option button:hover{
    text-decoration:underline;
}

.i_dialog_option button{
    font-family:customFont;
    padding:10px;
    font-size:30px;
    color:crimson;
    border:none;
    background-color:rgba(0,0,0,0);
}
.i_dialog_option button:hover{
    text-decoration:underline;
}
.dialog_option button{
    font-family:customFont;
    padding:10px;
    font-size:20px;
    border:none;
    color:crimson;
    background-color:rgba(0, 0, 0, 0);
}
.dialog_option button:hover{
    text-decoration:underline;
}

.close{
    position:absolute;
    top:5.2em;
    font-family:customFont;
    font-size:30px;
}
.close:hover{
    cursor:pointer;
    transform:scale(1.1);
}
.item{
    position:absolute;
    right:0em;
    top:1em;
    width:9em;
}
.item_slot {
    position:absolute;
    right:0em;
    bottom:18em;
    width:10em;
}
.stored_item{
    position:absolute;
    width:7em;
    right:0em;
    top:4em;
    visibility: hidden;
}
.stored_item:hover{
    transform:scale(1.1);
    transition-duration: 1s;
}


#background{
    width:100%;
}
.c_character img{
    width:100%;
}
.c_item img{
    width:100%;
}
.dialog img{
    width:100%;
}
.popup img{
    width:100%;
}
.item img{
    width:100%;
}
.item_slot img{
    width:100%;
}
.stored_item img{
    width:100%;
}